/* Estilização do rodapé do site */
footer {
  background-color: #1e1e1e;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.footer_menu {
  display: flex;
}

.fm_1, .fm_2, .fm_3 {
  flex: 1;
  color: #FFFFFF;
}

.fm_1 {
  background-color: #39aae1;
}
.fm_2 {
  background-color: #0079c7;
}
.fm_3 {
  background-color: #2b4c99;
}

.footer_menu a {
  display: block;
  text-decoration: none;
  padding: 20px;
  color: #FFFFFF;
}

.footer_menu a, p {
  font-size: 12px;
}

.footer_area {
  display: flex;
}

.footer_areaitem {
  flex: 1;
  color: #FFFFFF;
}

.flexColumn {
  flex-direction: column;
}

footer .widget_title_text {
  color: #FFFFFF;
}

.footer_copy {
  color: #5c5c5c;
  border-top: 1px solid #2c2c2c;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  margin-top: 30px;
}

.main_text {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 60px;
  color: #727272;
}

.title_text {
  color: #727272;
}

.text1 {
  display: flex;
  justify-content: space-between;
  margin-right: 60px;
  color: #727272;
}

.text2 {
  display: flex;
  justify-content: space-between;
  margin-right: 60px;
  color: #727272;
}

.text2 a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 12px;
  color: #FFFFFF;
}

.social_media {
  margin-top: 10px;
  display: flex;
  text-align: center;
}

.social_media img {
  margin: 5px;
}

.social_media a {
  display: block;
  text-decoration: none;
}

.posts {
  margin-top: 30px;
  margin-right: 60px;
  color: #FFFFFF;
}

.posts a {
  color: #39aae1;
  display: block;
  text-decoration: none;
}

.tweets {
  margin-top: 30px;
  margin-right: 60px;
  color: #FFFFFF;
}

.tweets a {
  color: #39aae1;
  display: block;
  text-decoration: none;
}
/***************************/
