/* Estilização do Menu mobile*/
.menuMobile {
  display: none;
  width: 40px;
  height: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 20px;
}

.mm_line {
  height: 3px;
  background-color: #39aae1;
}
/****************************/

/* Responsividade */
@media (max-width: 600px) {
  .banner_headline {
    padding: 20px;
  }
  .banner_headline h1 {
    font-size: 55px;
  }
  .banner_headline h2 {
    font-size: 17px;
  }
  .banner_options {
    height: auto;
    flex-direction: column;
  }
  .container {
    flex-direction: column;
  }

  #geral section,
  #geral aside {
    padding-left: 20px;
  }
 
  .footer_menu {
    flex-direction: column;
  }
  .footer_area {
    flex-direction: column;
    padding: 20px;
  }

  .footer_copy {
    padding-left: 20px;
  }

  header .container {
    flex-direction: row;
  }

  nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #FFFFFF;
  }

  .logo {
    padding-left: 20px;
  }

  header {
    height: auto;
  }

  .menuMobile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  #banner {
    min-height: 900px;
  }
}

@media (min-width: 601px) {
  nav ul, 
  section,
  footer {
    padding-left: 10px;
  }
}
/*********************************/
